/* Para una pantalla de celular: 933px X 375px */
html{
	background:	#f3f5fc;
}

main{
	display:	block;
	justify-content:	center;
	text-align:			center;
	padding:			0.8em;
}

p img{
	height: 1em;
	margin-right: 5px;
}

.divEntrada, .divSalida{
	width:		auto;
	height:		auto;
}

.divEntrada{
	text-align:	left;
}

.divEntrada div{
	text-align:	center;
}

.divSalida{
	border-radius:		24px;
	background-color: 	white;
	height:				auto;
	padding:			0.5em;
}

#salida, #entrada{
	width:				95%;
	border-style: 		none;
	resize: 			none;
	font-size: 			1.2em;
}

#salida:focus, #entrada:focus{
	outline: none;
}

#entrada{
	color: 				#0A3871;
	background-color:	#f3f5fc;
	height:				15em;
}

#salida{
	height: 9em;
}

#btnEncriptar, #btnDesencriptar, #btnCopiar{
	font-size: 1em;
	height: auto;
	width: 100%;
	padding: 0.5em;
	border-radius: 	24px;
	margin:	0.3em 0;
}

#btnEncriptar{
	background:	darkblue;
	color: 			#fff;
	border-color: 	#0A3871;
}

#btnDesencriptar{
	background:	#d8dfe8;
	color: 			#0A3871;
	border-color: 	#0A3871;
}

#btnCopiar{
	width:	80%;
	background:	white;
	color: 			#0A3871;
	border-color: 	#0A3871;
}

@media only screen and (min-width:375px){
/* Para una pantalla de tableta: 1174px X 768px */
	#btnEncriptar, #btnDesencriptar{
		width:	45%;
		margin: 1%;
	}

	#salida{
		height: 13em;
	}
}

@media (min-width:768px){
	/* Para una pantalla de tableta: 1440px X 1024px */
	main{
		display:	flex;
	}

	.divEntrada{
		width:	60%;
	}

	.divSalida{
		width:	40%;
	}

	#entrada, #salida{
		height:	32em;
	}
}
