html{
	background:	#f3f5fc;
	
}

input[type="button"]{
	border-radius: 24px;
	height:			67px;
}

main{
	display:			flex;
	justify-content:	center;
	text-align:			center;
	padding:			15px;
}

#btnEncriptar{
 background:	darkblue;
}

#btnDesencriptar{
 background:	#d8dfe8;
}

#btnCopiar{
	width:	80%;
}

#btnEncriptar, #btnDesencriptar{
	width:			40%;
}

#entrada{
}

#salida{
	height:				80%;
	width:				95%;
	margin:				10px auto;
	border-style: 		none;
	resize: none;
}

.divEntrada{
	width:	60%;
	text-align:	left;
}

.divSalida{
	width:	40%;
	border-radius:		24px;
	background-color: 	white;
}

.divEntrada, .divSalida{
	padding: 5px;
	height:	33em;
}
